<div class='sidebar'>
	<% @projects.each do |project| %>
		<div class='row-box'>
			<div class='project project-title'>
				<%= project.title %>
				<% if admin_user? %>
					<%= link_to '(edit)', edit_project_path(selected_project(project)), class: 'edit' %>
				<% end %>
			</div>
			<div class='project project-description'>
				<%= project.description %>
			</div>
		</div>
	<% end %>
</div>

<div class="display">
</div>

